{% extends "forms/form.jinja" %}

{% block child_controls %}
    <label>
        <span>Race</span>
        <select name="race_id" class="form-input">
            <option value='0'>Unspecified/Unknown</option>
            {% for race in race_list %}
                <option value="{{ race['id'] }}">{{ race['name'] }}</option>
            {% endfor %}
        </select>
    </label>
{% endblock child_controls %}