{% extends "elements/element_base.jinja" %}

{% block update_delete_btns %}
    <form action="{{ url_for('delete_arc', story_id=element['story_id'], id=element['id']) }}", method="post">
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
        <a href="{{ url_for('update_arc', story_id=element['story_id'], id=element['id']) }}" class="item">Update</a>
        <input type="submit" class="item" value="Delete" onclick="return confirm('Are you sure you want to delete Record?')">
    </form>
{% endblock update_delete_btns %}

{% block content %}
    <div class="content-area">
        <h1 class="heading">Characters</h1>
        {% for appearance in appearances %}
        <div class="flex-area flex-align-center flex-justify-sp-bw">
            <div>
                <a href="{{ url_for('characters', id=appearance['character_id']) }}" class="heading-2">{{ appearance['name'] }}</a>
                <span class="text">{{ appearance['role'] }}</span>
            </div>
            <form action="{{ url_for('delete_mtm_relation', table_name='appearance') }}" method="post">
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                <input type="hidden" name="id1_name" value="character_id">
                <input type="hidden" name="id2_name" value="arc_id">
                <input type="hidden" name="character_id" value="{{ appearance['character_id'] }}">
                <input type="hidden" name="arc_id" value="{{ element['id'] }}">
                <input type="hidden" name="avtn" value="characters">
                <input type="submit" value="Remove" class="item">
            </form>
        </div>
        <p class="text">{{ appearance['role_description'] }}</p>
        {% endfor %}

        <form method="post" action="{{ url_for('arc', story_id=element['story_id'], id=element['id']) }}" class="text capitalize flex-area flex-vertical">
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />        
            <input type="hidden" name="form_name" value="add_character">
            <p class="list">
                <input type="submit" class="item" value="+ Add">
            </p>
        </form>
    </div>

    <div class="content-area">
        <h1 class="heading">Locations involved in this Arc</h1>
        {% for location in locations %}
        <div class="flex-area flex-align-center flex-justify-sp-bw">
            <div>
                <a href="{{ url_for('location', id=location['id']) }}" class="heading-2">{{ location['name'] }}</a>
                <span class="text">{{ location['category'] }}</span>
            </div>

            <form action="{{ url_for('delete_mtm_relation', table_name='arc_occurs_in') }}" method="post">
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                <input type="hidden" name="id1_name" value="location_id">
                <input type="hidden" name="id2_name" value="arc_id">
                <input type="hidden" name="location_id" value="{{ location['id'] }}">
                <input type="hidden" name="arc_id" value="{{ element['id'] }}">
                <input type="hidden" name="avtn" value="location">
                <input type="submit" value="Remove" class="item">
            </form>
        </div>
        <p class="text">{{ location['description'] }}</p>
        {% endfor %}

        <form method="post" action="{{ url_for('arc', story_id=element['story_id'], id=element['id']) }}" class="text capitalize flex-area flex-vertical">
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
            <input type="hidden" name="form_name" value="add_location">
            <p class="list">
                <input type="submit" class="item" value="+ Add">
            </p>
        </form>
    </div>

    <div class="content-area">
        <h1 class="heading">Key Items Involved in this Arc</h1>
        {% for item in items %}
        <div class="flex-area flex-align-center flex-justify-sp-bw">
            <div>
                <a href="{{ url_for('item', id=item['id']) }}" class="heading-2">{{ item['name'] }}</a>
                <span class="text">{{ item['category'] }}</span>
            </div>

            <form action="{{ url_for('delete_mtm_relation', table_name='item_featured_in') }}" method="post">
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                <input type="hidden" name="id1_name" value="item_id">
                <input type="hidden" name="id2_name" value="arc_id">
                <input type="hidden" name="item_id" value="{{ item['id'] }}">
                <input type="hidden" name="arc_id" value="{{ element['id'] }}">
                <input type="hidden" name="avtn" value="item">
                <input type="submit" value="Remove" class="item">
            </form>
        </div>
        <p class="text">{{ item['description'] }}</p>
        {% endfor %}

        <form method="post" action="{{ url_for('arc', story_id=element['story_id'], id=element['id']) }}" class="text capitalize flex-area flex-vertical">
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
            <input type="hidden" name="form_name" value="add_item">
            <p class="list">
                <input type="submit" class="item" value="+ Add">
            </p>
        </form>
    </div>
{% endblock content %}