{% extends "elements/element_base.jinja" %}

{% block content %}
    <div class="content-area">
        <h1 class="heading">Characters</h1>
        {% for appearance in appearances %}
        <div class="flex-area flex-align-center flex-justify-sp-bw">
            <div>
                <a href="{{ url_for('characters', id=appearance['character_id']) }}" class="heading-2">{{ appearance['name'] }}</a>
                <span class="text">{{ appearance['role'] }}</span>
            </div>
            <a href="" class="item">Remove</a>
        </div>
        <p class="text">{{ appearance['role_description'] }}</p>
        {% endfor %}

        <p class="heading-2">Add New</p>
        <form method="post" action="{{ url_for('arc', story_id=element['story_id'], id=element['id']) }}" class="text capitalize flex-area flex-vertical">
            <input type="hidden" name="form_name" value="add_character">
            <div class="flex-area flex-wrap">
                <label>
                    <span>Character</span>
                    <select name="character_id" class="form-input">
                        {% for character in character_list %}
                            <option value="{{ character['id'] }}">{{ character['name'] }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label>
                    <span>Role</span>
                    <input type="text" name="role" class="form-input">
                </label>
            </div>
            <label>
                <span>Description:</span>
                <textarea name="description" id="" cols="100" rows="10" class="form-input text" placeholder="Description"></textarea>
            </label>
            <p class="list">
                <input type="submit" class="item" value="+ Add">
            </p>
        </form>
    </div>

    <div class="content-area">
        <h1 class="heading">Locations involved in this Arc</h1>
        {% for location in locations %}
        <div class="flex-area flex-align-center flex-justify-sp-bw">
            <div>
                <a href="{{ url_for('location', id=location['id']) }}" class="heading-2">{{ location['name'] }}</a>
                <span class="text">{{ location['category'] }}</span>
            </div>
            <a href="" class="item">Remove</a>
        </div>
        <p class="text">{{ location['description'] }}</p>
        {% endfor %}
    </div>

    <div class="content-area">
        <h1 class="heading">Key Items Involved in this Arc</h1>
        {% for item in items %}
        <div class="flex-area flex-align-center flex-justify-sp-bw">
            <div>
                <a href="{{ url_for('item', id=item['id']) }}" class="heading-2">{{ item['name'] }}</a>
                <span class="text">{{ item['category'] }}</span>
            </div>
            <a href="" class="item">Remove</a>
        </div>
        <p class="text">{{ item['description'] }}</p>
        {% endfor %}
    </div>
{% endblock content %}