{% extends 'elements/element_base.jinja' %}

{% block title %} {{ element['name'] }} {% endblock %}

{#{% block main %}
    <div class="content-area">
        <h1 class="heading">Character Details</h1>
        <p class="heading-2">{{ element['name'] }}</p>
        <p class="text">{{ element['description'] }}</p>
        <p class="text">Gender: {{ element['gender'] }}</p>
        <p class="text">Species: </p>
        <p class="text">Height: {{ element['height'] }}cm</p>
        <p class="text">Weight: {{ element['weight'] }}</p>
        <p class="text">Age: {{ element['age'] }}</p>
        <p class="text">Alignment: {{ element['alignment'] }}</p>
    </div>
{% endblock %}#}

{% block main_content_extension %}
    <label class="flex-area flex-align-center">
        <span class="text">Race: </span>
        {% if race %}
            <a href="{{ url_for('race', id=race['id']) }}" class="text highlightable underlined">{{ race['name'] }}</a>
        {% else %}
            <span class="text">Unknown</span>
        {% endif %}
    </label>
{% endblock main_content_extension %}

{% block content %}
    <div class="content-area">
        <h1 class="heading">Character Traits</h1>
        {% for trait in traits %}
            <div class="flex-area flex-justify-sp-bw flex-align-center">
                <span class="heading-2">{{ trait['name'] }}</span>
                <div>
                    <form action="/characters/{{ element['id'] }}" method="post" class="block">
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                        <input type="hidden" name="form_name" value="update_trait">
                        <input type="hidden" name="name" value="{{ trait['name'] }}">
                        <input type="submit" class="item" value="Update">
                    </form>
                    <form action="{{ url_for('delete_trait', id=element['id'], name=trait['name']) }}" method="post" class="block">
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                        <input type="hidden" name="form_name" value="remove_trait">
                        <input type="hidden" name="name" value="{{ trait['name'] }}">
                        <input type="submit" class="item" value="Remove">
                    </form>
                </div>
            </div>
            <p class="text">{{ trait['description'] }}</p>
        {% endfor %}
        <form class="list" method="post" action="/characters/{{ element['id'] }}">
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
            <input type="hidden" name="form_name" value="add_trait">
            <input type="submit" class="item" value="+ Add">
        </form>
    </div>

    <div class="content-area">
        <h1 class="heading">Appearances</h1>
        {% for appearance in appearances %}
        <div>
            <a href="{{ url_for('story', id=appearance['story_id']) }}" class="heading-2">{{ appearance['name'] }}</a>
            <span class="text">{{ appearance['role'] }}</span>
        </div>
        <p class="text">{{ appearance['role_description'] }}</p>
        {% endfor %}
    </div>
{% endblock %}