{% extends "base.jinja" %}

{% block title %}{{ element['name'] }}{% endblock title %}

{% block main %}
    <div class="content-area">
        <h1 class="heading">{% block type %}{% endblock type %} Details</h1>
        <div class="flex-area flex-justify-sp-bw flex-align-center">
            <span class="heading-2">{{ element['name'] }}</span>
            <div>
            {% block update_delete_btns %}
                <form action="{{ url_for('delete', table_name=table_name, record_id=element['id']) }}", method="post">
                    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    <a href="{{ url_for('update', table_name=table_name, record_id=element['id']) }}" class="item">Update</a>
                    <input type="submit" class="item" value="Delete" onclick="return confirm('Are you sure you want to delete Record?')">
                </form>
            {% endblock update_delete_btns %}
            </div>
        </div>
        <p class="text">{{ element['description'] }}</p>
        {% for key in element.keys() %}
            {% if key != 'name' and key != 'description' and 'id' not in key %}
                <p class="text">{{ key.replace('_', ' ') }}: {{ element[key] }}</p>
            {% endif %}
        {% endfor %}
        {% block main_content_extension %}{% endblock main_content_extension %}
    </div>
    {% block main_extension %}
    {% endblock main_extension %}
{% endblock main %}