{% extends "elements/element_base.jinja" %}

{% block content %}
    <div class="content-area">
        <h1 class="heading">Found In</h1>
        {% for world in worlds %}
            <div class="flex-area flex-align-center flex-justify-sp-bw">
                <div>
                    <a href="{{ url_for('world', world_id=world['id']) }}" class="heading-2">{{ world['name'] }}</a>
                </div>
                <a href="" class="item">Remove</a>
            </div>
            <p class="text">{{ world['description'] }}</p>
        {% endfor %}
    </div>

    <div class="content-area">
        <h1 class="heading">Plays a Role In</h1>
        {% for arc in arcs %}
            <div class="flex-area fleax-align-center flex-justify-sp-bw">
                <div>
                    <a href="{{ url_for('arc', story_id=arc['story_id'], id=arc['id']) }}" class="heading-2">{{ arc['name'] }}</a>
                </div>
                <a href="" class="item">Remove</a>
            </div>
            <p class="text">{{ arc['description'] }}</p>
        {% endfor %}
    </div>
{% endblock content %}