{% extends "elements/element_base.jinja" %}

{% block content %}
    <div class="content-area">
        <h1 class="heading">Found In</h1>
        <div>
        {% for world in worlds %}
            <a href="{{ url_for('world', id=world['id']) }}" class="heading-2">{{ world['name'] }}</a>
            <p class="text">{{ world['description'] }}</p>
        {% endfor %}
        </div>
    </div>

    <div class="content-area">
        <h1 class="heading">Plays a Role In</h1>
        <div>
        {% for arc in arcs %}
            <a href="{{ url_for('arc', story_id=arc['story_id'], id=arc['id']) }}" class="heading-2">{{ arc['name'] }}</a>
            <p class="text">{{ arc['description'] }}</p>
        {% endfor %}
        </div>
    </div>
{% endblock content %}