{% extends "elements/element_base.jinja" %}

{% block content %}
    <div class="content-area">
        <h1 class="heading">Inhabited Worlds</h1>
        <div>
        {% for world in worlds %}
            <a href="{{ url_for('world', id=world['id']) }}" class="heading-2">{{ world['name'] }}</a>
            <p class="text">{{ world['description'] }}</p>
        {% endfor %}
        </div>
    </div>

    <div class="content-area">
        <h1 class="heading">Characters From this Race</h1>
        <div>
        {% for character in characters %}
            <a href="{{ url_for('characters', id=character['id']) }}" class="heading-2">{{ character['name'] }}</a>
            <p class="text">{{ character['description'] }}</p>
        {% endfor %}
        </div>
    </div>
{% endblock content %}