{% extends 'elements/element_base.jinja' %}

{% set table_name = 'world' %}

{% block content %}
    <div class="content-area">
        <h1 class="heading">Notable Locations</h1>
        <div>
        {% for location in locations %}
            <a href="{{ url_for('location', id=location['id']) }}" class="heading-2">{{ location['name'] }}</a>
            <span class="text">{{ location['category'] }}</span>
            <p class="text">{{ location['description'] }}</p>
        {% endfor %}
        </div>
    </div>
    <div class="content-area">
        <h1 class="heading">Notable Races</h1>
        {% for race in races %}
            <div class="flex-area flex-align-center flex-justify-sp-bw">
                <div>
                    <a href="{{ url_for('race', id=race['id']) }}" class="heading-2">{{ race['name'] }}</a>
                    <span class="text">{{ race['category'] }}</span>
                </div>
                
                <form action="{{ url_for('delete_mtm_relation', table_name='race_lives_in') }}" method="post">
                    <input type="hidden" name="id1_name" value="race_id">
                    <input type="hidden" name="id2_name" value="world_id">
                    <input type="hidden" name="race_id" value="{{ race['id'] }}">
                    <input type="hidden" name="world_id" value="{{ element['id'] }}">
                    <input type="hidden" name="avtn" value="race">
                    <input type="submit" value="Remove" class="item">
                </form>
            </div>
            <p class="text">{{ race['description'] }}</p>
        {% endfor %}

        <form method="post" action="{{ url_for('world', id=element['id']) }}" class="text capitalize flex-area flex-vertical">
            <input type="hidden" name="form_name" value="add_race">
            <p class="list">
                <input type="submit" class="item" value="+ Add">
            </p>
        </form>
    </div>
    <div class="content-area">
        <h1 class="heading">Items Found</h1>
        {% for item in items %}
            <div class="flex-area flex-align-center flex-justify-sp-bw">
                <div>
                    <a href="{{ url_for('item', id=item['id']) }}" class="heading-2">{{ item['name'] }}</a>
                    <span class="text">{{ item['rarity'] }}</span>
                    <span class="text">{{ item['category'] }}</span>
                </div>

                <form action="{{ url_for('delete_mtm_relation', table_name='item_found_in_world') }}" method="post">
                    <input type="hidden" name="id1_name" value="item_id">
                    <input type="hidden" name="id2_name" value="world_id">
                    <input type="hidden" name="item_id" value="{{ item['id'] }}">
                    <input type="hidden" name="world_id" value="{{ element['id'] }}">
                    <input type="hidden" name="avtn" value="item">
                    <input type="submit" value="Remove" class="item">
                </form>
            </div>
            <p class="text">{{ item['description'] }}</p>
        {% endfor %}

        <form method="post" action="{{ url_for('world', id=element['id']) }}" class="text capitalize flex-area flex-vertical">
            <input type="hidden" name="form_name" value="add_item">
            <p class="list">
                <input type="submit" class="item" value="+ Add">
            </p>
        </form>
    </div>
{% endblock content %}