{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="content-area">
        <h1 class="heading">Characters</h1>
        <p class="text">All your characters are shown here</p>
        <div class="list">
            {% for character in characters %}
            <a href="" class="item">{{ character }}</a>
            {% endfor %}
            <a href="" class="item">+</a>
        </div>
    </div>

    <div class="content-area">
        <h1 class="heading">Stories</h1>
        <p class="text">All your stories are shown here</p>
        <div class="list">
            {% for story in stories %}
            <a href="" class="item">{{ story }}</a>
            {% endfor %}
            <a href="" class="item">+</a>
        </div>
    </div>

    <div class="content-area">
        <h1 class="heading">Worlds</h1>
        <p class="text">All your worlds are shown here</p>
        <div class="list">
            {% for world in worlds %}
            <a href="" class="item">{{ world }}</a>
            {% endfor %}
            <a href="" class="item">+</a>
        </div>
    </div>

    <div class="content-area">
        <h1 class="heading">Locations</h1>
        <p class="text">All your locations are shown here</p>
        <div class="list">
            {% for location in locations %}
            <a href="" class="item">{{ location }}</a>
            {% endfor %}
            <a href="" class="item">+</a>
        </div>
    </div>

    <div class="content-area">
        <h1 class="heading">Races</h1>
        <p class="text">All your races are shown here</p>
        <div class="list">
            {% for race in races %}
            <a href="" class="item">{{ race }}</a>
            {% endfor %}
            <a href="" class="item">+</a>
        </div>
    </div>

    <div class="content-area">
        <h1 class="heading">Items</h1>
        <p class="text">All your items are shown here</p>
        <div class="list">
            {% for item in items %}
            <a href="" class="item">{{ item }}</a>
            {% endfor %}
            <a href="" class="item">+</a>
        </div>
    </div>
{% endblock %}