{% extends 'base.jinja' %}

{% block content %}
    <div class="content-area">
        <h1 class="heading">Login</h1>
        <form action="/login" method="post" class="text">
            {% with messages = get_flashed_messages() %}
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            {% endwith %}
            <p>
                <label>
                    <span>Email: </span>
                    <input type="text" name="email" placeholder="Name" required>
                </label>
            </p>
            <p>
                <label>
                    <span>Password: </span>
                    <input type="password" name="password" placeholder="Name" required>
                </label>
            </p>
            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}